:root {
  --color-primary: #191d2b;
  --color-secondary: #ff1919;
  --color-white: #ffffff;
  --color-black: #000;
  --color-text: #f9f9f9;
  --color-grey0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.3);
}

#playSoundButton {
  background-color: var(--color-primary); /* Primary color for the background */
  color: var(--color-secondary); /* Secondary color for the text */
  border: none; /* Removes the default border */
  padding: 10px 20px; /* Adds padding */
  font-size: 18px; /* Sets the font size */
  cursor: pointer; /* Changes the cursor to a pointer when hovering */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for hover effect */
  box-shadow: var(--box-shadow-1); /* Adds a subtle shadow for depth */
}

#playSoundButton:hover {
  background-color: var(
    --color-secondary
  ); /* Changes the background color on hover */
  color: var(--color-primary); /* Changes the text color on hover */
}
